{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block stylsheet %}
{% endblock stylsheet %}
{% block content %}

<section class="newsletter no-padding-top">
  <div class="contact_us">
    <div class="form-holder">
        <h2>Subscribe to Newsletter</h2>
      <p class="text-big">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
      </p>
      <form action="#">
        <div class="form-group">
          <input type="email" name="email" id="email" placeholder="Type your email address">
          <button type="submit" class="submit">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
{% block script %}

{% endblock script %}