<!-- {% extends "base.html" %}
{% load static %}
{% block title %}
  
{% endblock title %}
{% block stylesheet %}
  
{% endblock stylesheet %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id='profile_wrapper'>
                    <img id='profile_pic' src="{{ author_details.profile_picture.url }}" alt="">
                    <h4>{{ author_details.name.get_full_name }}</h4>
                    <hr />
                    <p>{{ author_details.datails }}</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>My Details</h4>
                    <hr />
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore consectetur numquam amet magni
                        sit!
                        Nesciunt fuga harum autem ab voluptatibus. Earum alias odio repellat mollitia, vitae voluptatem
                        molestiae. Eligendi vel voluptatum officiis maxime cum, ea amet aperiam deleniti distinctio
                        accusantium nam minus odit illum, recusandae perferendis? Possimus fugit sunt repudiandae laudantium
                        saepe ea facilis delectus laboriosam, impedit sint aperiam ducimus tempora, enim eos nam facere,
                        nostrum suscipit! Mollitia maxime quia commodi quam eaque, aut amet nemo maiores esse iste dicta.
                        Sapiente distinctio totam quos explicabo alias modi cum porro tenetur. Eligendi quasi dignissimos
                        eaque neque aspernatur soluta pariatur necessitatibus sit?
                    </p>
                    <ul class="social-menu">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            </div>
            Profile Main Contacr Start
            <br />
        </div>
    </div>
{% endblock content %}
{% block script %}

{% endblock script %} -->