{% extends "base.html" %}
{% load static %}
{% block title %}

{% endblock title %}
{% block stylesheet %}

{% endblock stylesheet %}
{% block content %}

<!-- Our services -->
<div class="our_services mb-5">
  <h1>Our Services</h1>
  <p>
      <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint quibusdam molestias eveniet, -->
      We develop websites with HTML, CSS, JavaScript, Django and Jquery. If you want to develop a website. Then you
      can contact us and we will create the desired website for you.
  </p>
</div>
<div class="container">
  <div class="row heading heading-icon">
    <h2>Our Team</h2>
  </div>
  <div class="row">
    <div class="col-md-4 mt-5 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/html_css.jpg' %}" class="card-img-top our_services_pic" alt="...">
        <div class="card-body">
          <h5 class="card-title">HTML And CSS</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-5 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/javascript.png' %}" class="card-img-top our_services_pic" alt="...">
        <div class="card-body">
          <h5 class="card-title">Javascript And Jquery</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-5 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/django.jpg' %}" class="card-img-top our_services_pic" alt="...">
        <div class="card-body">
          <h5 class="card-title">Back-end Django</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-5 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/digital_marketing.jpg' %}" class="card-img-top our_services_pic" alt="...">
        <div class="card-body">
          <h5 class="card-title">Digital Marketing</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>


    <div class="col-md-4 mt-5 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/social_marketing.jpg' %}" class="card-img-top our_services_pic" alt="...">
        <div class="card-body">
          <h5 class="card-title">Social Marketing</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>


    <div class="col-md-4 mt-5 mb-3">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/video_eiditing.jpg' %}" class="card-img-top our_services_pic" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proffesional Video Editing</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>


  </div>
</div>
<!-- Our Team  -->
<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Our Team</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="{% static 'img/parsonal.jpg' %}" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Mohammad Anarul</a></h3>
            <p>Full-Stack Developer/Bloger</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="{% static 'img/team1.png' %}" class="img-responsive" alt=""></figure>
            <h3><a href="#">Abdur Rahim </a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="{% static 'img/team4.png' %}" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Mohammad Angur </a></h3>
            <p>Social marketing/Deseinger</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="{% static 'img/team2.png' %}" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Mohammad Maruf </a></h3>
            <p>Digital Maeketing/Seo</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
    </ul>
  </div>
</section>
{% endblock content %}
{% block script %}

{% endblock script %}