{% extends "base.html" %}
{% load static %}
{% block head_title %}weather{% endblock head_title %}
{% block content %}
<div class="container m-auto">
        <h1>Find the Weather</h1>
        <form method="GET">
            <div>
                <label for="city"></label>
                <input type="text" id="city" value="{{ request.GET.city }}" placeholder="City..." name="city"/>
            </div>
            <input type="submit" value="Submit"/>
        </form>
            {% if result %}
            <span class=" text-red">{{ result.region }}</span>
            <h3>{{ result.dayhour }}</h3>
            <h3>{{ result.temp_now }}° C</h3>
            <h3>{{ result.weather_now }}</h3>
            {% endif %}
</div>
{% endblock content %}